.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
}

.innerCircle {
  transform: translate(50%, 50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid black;
}

.clicked {
  background-color: black;
}
