.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  min-width: 250px;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
